.opensans-light {
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
}

.opensans-regular {
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
}

.opensans-bold {
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
}

html {
    /* height:100%; */
}
body {
	font-family: "Open Sans", sans-serif;
    position:relative;
    height:100%;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
#spinner {
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    height:100%;
    width:100%;
    z-index:99999;
    background-color: #2f2f2fe8;
    display: flex;
    justify-content: center;
    align-items: center;
}
#bgImg {
    background-repeat: no-repeat;
    position: absolute;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    height:100%;
    width:100%;
}

i[class^="fa-"] {
    display: flex;
    justify-content: center;
    align-items: center;
}
#wrapper {
	padding-top: 88px;
	position: relative;
}
header {
	padding: 10px 0;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 999;
}
#searchicon {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	display: flex;
	justify-content: center;
	align-content: center;
	padding: 10px;
}
#searchicon:hover {
    cursor: pointer;
}
#searchicon {

}
/* sup {
    top: -1.5em;
} */

input {
	padding: 20px !important;
	font-size: 1.5rem;
}

a {
	text-decoration: none;
	color: unset;
}
h5 {
    margin-bottom:0;
}

#options {
	max-height: 50vh;
	overflow-y: auto;
	background-color: #fff;
	z-index: 999;
	position: relative;
}
.option {
	padding: 20px 10px;
	font-size: 1rem;
}
.option.selected {
	/* background-color: grey; */
}
.option:hover {
	/* background-color: pink; */
}
.option .country {
	font-weight: bold;
	text-transform: uppercase;
}
.option .city {
	font-weight: light;
	text-transform: capitalize;
}
main {
	/* background-color: bisque; */
}
#hero {
	/* background-color: lightblue; */
	padding: 5% 10% 10%;
	/* height: 50vh; */
	max-height: 320px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#maintemp {
	text-align: center;
}
#temp {
	/* background-color: orange; */
	font-size: 7rem;
	line-height: 7rem;
	text-align: center;
	letter-spacing: -0.7rem;
}
#location {
	text-transform: capitalize;
	font-size: 2.5rem;
}
#countryCode {
	margin-left: 4px;
}
#countryflag {
	height: 20px;
}
#condition {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}
#conditionicon {
	font-size: 2.5rem;
	margin-right: 7px;
	line-height: 1rem;
}
#description {
	font-size: 1rem;
	text-transform: capitalize;
}
#moretemp {
	text-align: center;
	font-size: 1.1rem;
	line-height: 1rem;
	margin-top: 7px;
	text-transform: lowercase;
}
#hilo {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: nowrap;
	margin-top: 10px;
}
.deg {
	top: -0.1em;
	font-size: 1.2rem;
}
#maintemp .deg {
	top: -1.7em;
	font-weight: bold;
	font-size: 3em;
}
#sunmovement, #misc {
    /* padding-top:10px;
    padding-bottom:10px; */
}
#misc .col,
#sunmovement .col {
    /* background-color:pink; */
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding-top:10px;
    padding-bottom:10px;
}
#misc i,
#sunmovement i,
.forecast-card i {
    font-size:2rem;
    margin-right:10px;
}
#sunrise, #sunset, #pressure, #humidity, #windSpeed {
    font-size: 1rem;
}
#forecastList {
    /* background-color: coral; */
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    overflow-x: auto;
    padding:10px;
    width:100%;
}
.forecast-card  {
    background-color: #fff;
    height: 145px;
    min-width: 110px;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.forecast-card h6 {
    text-align: center;
    margin-bottom:0;
}
.forecast-card i {
    margin:0;
}
.forecast-card .forecast-symbol {
    text-align:center;
    margin:10px 0;
}



.con-thunderstorm #bgImg {
    background-image: url('../img/brandon-morgan-3qucB7U2l7I-unsplash.jpg');
    background-size: cover;
    filter: brightness(44%);
    background-position: center center;
} 
.con-thunderstorm #hero, 
.con-thunderstorm #sunmovement, 
.con-thunderstorm #misc {
    color:#fff;
}
.con-rainy #bgImg {
    background-image: url('../img/brazil-topno-7HrfSRNBzf8-unsplash.jpg');
    background-size: cover;
    background-position: center center;
    filter: brightness(74%);
}
.con-rainy #hero, 
.con-rainy #sunmovement, 
.con-rainy #misc {
    color:#fff;
}
.con-snow #bgImg {
    background-image: url('../img/aditya-vyas-PzhmEp_aDU4-unsplash.jpg');
    background-size: cover;
    background-position: center center;
    filter: brightness(65%);
}
.con-snow #hero, 
.con-snow #sunmovement, 
.con-snow #misc {
    color:#fff;
}
.con-hazy #bgImg {
    background-image: url('../img/glenn-abelson-Hwz4MZjzxTM-unsplash.jpg');
    background-size: cover;
    background-position: center center;
    filter: brightness(65%);
}
.con-hazy #hero, 
.con-hazy #sunmovement, 
.con-hazy #misc {
    color:#fff;
}
.con-clearday #bgImg {
    background-image: url('../img/grooveland-designs-zjoydJb17mE-unsplash.jpg');
    background-size: cover;
    background-position: center center;
    filter: brightness(82%) saturate(111%);
}
.con-clearday #hero, 
.con-clearday #sunmovement, 
.con-clearday #misc {
    color:#fff;
}
.con-clearnight #bgImg {
    background-image: url('../img/klemen-vrankar-lj4XbXbD0Fk-unsplash.jpg');
    background-size: cover;
    background-position: center center;
    filter: brightness(82%) saturate(111%);
}
.con-clearnight #hero, 
.con-clearnight #sunmovement, 
.con-clearnight #misc {
    color:#fff;
}
.con-cloudyday #bgImg {
    background-image: url('../img/billy-huynh-v9bnfMCyKbg-unsplash.jpg');
    background-size: cover;
    background-position: center center;
    filter: brightness(90%) saturate(90%);
}
.con-cloudyday #hero, 
.con-cloudyday #sunmovement, 
.con-cloudyday #misc {
    color:#000;
}
.con-cloudynight #bgImg {
    background-image: url('../img/henry-co-o0acp0ZdhbA-unsplash.jpg');
    background-size: cover;
    background-position: center center;
    filter: brightness(60%);
}
.con-cloudynight #hero, 
.con-cloudynight #sunmovement, 
.con-cloudynight #misc {
    color:#fff;
}
footer {
    background-color: #fff;
    padding: 10px 0;
    margin-top: auto;
    z-index:1;
}
footer .container {
    display:flex;
    justify-content: center;
    align-items: center;
}
footer a {
    text-decoration: underline;
}